@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Righteous&display=swap');

/* clear browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: #c6e2e9;
  color: var(--primary-color);
  overflow: hidden; /* Hide scrollbars */
}

/* color pallet */
:root{
  --primary-color: #7a9dbc;
  --secondary-color: #828c51;
  --tertiary-color: #c08497;
}

/* login/sign up styles */
.container {
  display: block;
  text-align: center;
  align-items: center;
}

.container a {
  font-size: 30px;
  text-decoration: none;
}

.title{
  margin-bottom: 20px;
  font-size: 90px;
  font-weight: bold;
  background: -webkit-linear-gradient(var(--secondary-color), var(--primary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-header {
  font-size: 55px;
  margin-top: 30px;
}

.form-input {
  flex: 100%;
  height: 40px;
  padding: 20px;
  margin: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  width: 50%;
  background: transparent !important;
  color: black;
  font-weight: bold;
}

.form-input:focus{
  box-shadow: #c08497 0px 3px 10px;
  outline: none;
}

.btn {
  height: 15px;
  padding: 20px;
  margin: 10px;
  border: 4px solid var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  color: gray;
}

.btn:hover {
  box-shadow: var(--tertiary-color) 0px 3px 10px;
}

/* end login/sign up styles */

/* header styles */
.main-header {
  margin: 0px 10px;
  display: inline-block;
  flex-wrap: wrap;
}

.main-header div a{
  text-decoration: none;
  font-size: 30px;
}

.main-nav{
  display: flex;
  font-size: 25px;
  padding: 20px auto;
}

@media(max-width:800px){
  .main-header, .main-header div a, .main-nav  {
  padding: 12px;
  display: grid;
  gap: 1.335rem;
  }
}


/* main page */

.main-title {
  font-size: 75px;
  margin-top: 150px;
  margin-bottom: 80px;
  background: -webkit-linear-gradient(var(--secondary-color), var(--primary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.smiles{
  opacity: 0.8;
  border-radius: 50%;
  margin-top: 70px;
  width: 500px;
  margin-bottom: 70px;
}

.emotion-icon {
  margin: 50px 85px;
  display: flex;
  justify-content: space-evenly;
}


.emotion-name {
  display: flex;
  justify-content: space-evenly;
  font-size: 35px;
  font-weight: bold;
  padding: 45px 105px;
  color: var(--secondary-color);
}

@media(max-width:800px){
  .main-title, .smiles, .emotion-icon, .emotion-name  {
  padding: 12px;
  display: grid;
  gap: 1.335rem;
  }
}


/* footer */

footer {
  margin-top:80px;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 2.5rem;
}

/* emotions styling */

.card{
  display: flex;
  flex: 1 1;
}

.top-row, .bottom-row{
  display: flex;
  flex: 50%;
  margin-top: 60px;
  margin-left: 65px;
}

.bottom-vid {
  margin: 60px 100px;
}

/* sad styling */
.sad-img {
  width: 500px;
  height: auto;
  margin-left: 20px;
  margin-top: 60px;
}

.hug-img{
  width: 400px;
  height: auto;
  margin-top: 80px;
  border-radius: 50%;
}

.quote{
  font-size: 55px;
  font-weight: bolder;
  color: var(--tertiary-color);
  display: block;
  margin-top: 60px;
  margin-left: 30px;
  width: 400px;
}

.enough{
  margin-left: 50px;
}

/* angry styling */
.angry{
  width: 700px;
}

.anger-img{
  margin-left: 150px;
  width: 500px;
  height: 550px;
}

.angry-bird{
  margin-left: 500px;
  margin-top: 50px;
}


/* happy styling */
.pharrell{
  margin-left: 40px;
}

.dance{
  margin-left: 30px;
}

.affirmation {
  width: 550px;
  font-size: 43px;
  color: var(--tertiary-color);
  line-height: 1.5em;
}

.affirmation li {
  list-style-type: none;
  color: var(--tertiary-color);
  font-weight: bolder;
}

/* sleep styling */

.sleep-quote{
  width: 500px;
  height: 500px;
  margin-left: 120px;
  border-radius: 50%;
}

.sleepy{
  margin-top: 60px;
}

.counting-sheep{
  margin-left: 40px;
  width: 700px;
  height: 420px;
}

.video{
  margin-top: 70px;
  margin-left: 500px;
}

/* stressed styling */

.prioritize {
  font-size: 34px;
  width: 450px;
  color: var(--tertiary-color);
  border: 2px dotted var(--primary-color);
  padding: 40px;
  border-radius: 20%;
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 30px;
}

.prioritize a{
  font-weight: bolder;
}

.breathe{
  width: 600px;
}

.chill {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  margin-top: 60px;
}

.break-time{
  font-size: 60px;
  color: var(--tertiary-color);
  margin-left: 80px;
  margin-top: 130px;
  margin-right: 40px;
}

@media (max-width:1200px) 
{
    

    .text {
        white-space: nowrap;
        line-height: 30px;
    
    }


    .buttons button {
        padding: 8px 20px;
    }
    
    


}

@media (max-width:600px) {

    .main__content {
        margin-left: 0;
    }

    .main__container {
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .main__img img {
        width: 250px;
    }

  }
  @media screen and (max-width: 575px) {
    .main__content {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }






