@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Righteous&display=swap');

/* clear browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: #c6e2e9;
  color: var(--primary-color);
}

/* color pallet */
:root{
  --primary-color: #7a9dbc;
  --secondary-color: #828c51;
  --tertiary-color: #c08497;
}

/* login/sign up styles */
.container {
  display: block;
  text-align: center;
  align-items: center;
}

.container a {
  font-size: 30px;
  text-decoration: none;
}

.title{
  margin-bottom: 20px;
  font-size: 90px;
  font-weight: bold;
  background: -webkit-linear-gradient(var(--secondary-color), var(--primary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-header {
  font-size: 55px;
  margin-top: 30px;
}

.form-input {
  flex: 100%;
  height: 40px;
  padding: 20px;
  margin: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  width: 50%;
  background: transparent !important;
  color: black;
  font-weight: bold;
}

.form-input:focus{
  box-shadow: #c08497 0px 3px 10px;
  outline: none;
}

.btn {
  height: 15px;
  padding: 20px;
  margin: 10px;
  border: 4px solid var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  color: gray;
}

.btn:hover {
  box-shadow: var(--tertiary-color) 0px 3px 10px;
}

/* end login/sign up styles */

/* header styles */
.main-header {
  margin: 0px 10px;
  display: inline-block;
  flex-wrap: wrap;
}

.main-header div a{
  text-decoration: none;
  font-size: 30px;
}

.main-nav{
  display: flex;
  font-size: 25px;
  padding: 20px auto;
}


/* main page */

.main-title {
  font-size: 75px;
  margin-top: 150px;
  margin-bottom: 80px;
  background: -webkit-linear-gradient(var(--secondary-color), var(--primary-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emotion-icon {
  margin: 50px 85px;
  display: flex;
  justify-content: space-evenly;
}


.emotion-name {
  display: flex;
  justify-content: space-evenly;
  font-size: 35px;
  font-weight: bold;
  padding: 45px 105px;
  color: var(--secondary-color);
}

/* footer */

footer {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 2.5rem;
}

/* emotions styling */

.card{
  display: flex;
  flex: 1 1;
}

.top-row, .bottom-row{
  display: flex;
  flex: 50%;
  margin-top: 70px;
  margin-left: 65px;
  /* align-items: center;
  justify-content: center; */
}

/* sad styling */
.sad-img {
  width: 650px;
  height: auto;
  margin-left: 50px;
}

.hug-img{
  width: 500px;
  height: auto;
  margin-left: 20px;
}

.quote{
  font-size: 60px;
  font-weight: bolder;
  color: var(--tertiary-color);
  display: block;
  margin-top: 60px;
  margin-left: 60px;
  width: 500px;
}

.cite {
  font-style: italic;
  color: var(--tertiary-color);
}

.anger-img{
  margin-left: 150px;
  width: 550px;
}

.music{
  margin-bottom: 35px;
}

/* happy styling */

.dance{
  margin-left: 40px;
}

.affirmation {
  width: 450px;
  font-size: 43px;
  color: var(--tertiary-color);
  margin-left: 90px;
  margin-top: 60px;
}

.affirmation li {
  list-style-type: none;
  color: var(--tertiary-color);
  font-weight: bolder;
}

/* sleep styling */
.sleep-quote{
  width: 500px;
  height: 500px;
  margin-left: 120px;
  border-radius: 50%;
}

.bottom-vid {
  margin: 60px 130px;
}

.tired {
  width: 300px;
  height: 300px;
  margin-left: 80px;
}

.stars{
  width: 1000px;
}